<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="utf-8">
    <title>AngularJS ui-select</title>
<!-- this code is just the practice of UI-Select in angular js-->
<!--  select.js and select.css doesn't belong to me-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>

    <!-- ui-select files -->
    <script src="./select.js"></script>
    <link rel="stylesheet" href="./select.css">

    <script src="./demo.js"></script>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
  <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">   --> 
   
</head>

<body class="ng-cloak" ng-controller="DemoCtrl as ctrl">

  <h1>Multiple Selection</h1>
  
  <ui-select multiple ng-model="multipleDemo.selectedPeople" theme="bootstrap" ng-disabled="ctrl.disabled" sortable="true" close-on-select="false" style="width: 500px;">
    <ui-select-match placeholder="Select person...">{{$item.name}}</ui-select-match>
    <ui-select-choices repeat="person in people">
      <div ng-bind-html="person.name"></div>
    </ui-select-choices>
  </ui-select>
  <button name="button" ng-click="submitValue()">Click me</button>
</body>
</html>
